.gradient {
        background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(59, 58, 58), rgb(0, 0, 0));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.zoom-effect {
  transition: transform 0.3s ease; 
}

.zoom-effect:hover {
  transform: scale(1.1); 
}

.trigger-btn {
            padding: 12px 24px;
            font-size: 16px;
            cursor: pointer;
            background-color: #000000;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 5px;
            transition: background 0.2s;
        }
        .trigger-btn:hover {
            background-color: #0056b3;
        }

        .slidebar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background-color: rgb(43, 41, 41);
            box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 20px;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 40vh;
            
            transform: translateY(100%);
            transition: transform 0.5s ease-out;
            z-index: 1000;
        }

        .slidebar.active {
            transform: translateY(0);
        }
        
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(48, 48, 48, 0.4);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease;
            z-index: 999;
        }

        .overlay.active {
            opacity: 1;
            visibility: visible;
        }

        .close-btn {
            color: white;
            float: right;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            background: none;
            border: none;
            font-family: cursive;
        }

        #btns {
            color: rgb(0, 0, 0);
            text-align: center;
            text-decoration: none;
            color: inherit; 
            display: block;
        }

        #btns div {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            background: none;
            color: white;
            font-family: cursive;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            
        }

        #btns div:hover {
            background-color: #686868;
            transform: translateX(-2px);
        }

        #btn1 a {
            text-decoration: none;
            color: white;
        }

        #btn2 a {
            text-decoration: none;
            color: white;
        }

        #btn3 a {
            text-decoration: none;
            color: white;
        }

        #myInput {
            width: 270px;
            border: none;
            outline: none;
            border-radius: 15px;
            padding: 1em;
            background-color: #ccc;
            box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
            transition: 300ms ease-in-out;
        }

        #myInput:focus {
            display: flex;
            justify-content: center;
            background-color: white;
            transform: scale(1.05);
            width: 300px;
            box-shadow: 5px 5px 15px #8b8b8b;
        }